<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><%= title %></title>

<meta name="HandheldFriendly" content="True">
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="keywords" content="card, cartão, business card, cartão de visitas, rede social, social network" />

<meta property="og:site_name" content="X-Pass" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image"> <!-- padrão -->

<meta name="theme-color" content="#041A31">
<link rel="shortcut icon" type="image/png" href="/img/logo_full.png" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/css/global.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HY2SBG0FKJ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-HY2SBG0FKJ');
</script>