<!DOCTYPE html>

<head>
    <%- include('../common/head', {
		title: 'Error'
	}) %>
</head>

<body>
    <div class="container">
        <div class="row" style="padding: 18px;">
            <div class="col-12" style="text-align: center;">
                <img src="/img/logo_full.png" style="width: 100px; padding: 16px;">
            </div>
            <div class="col-12">
                Algo errado...
            </div>
            <div class="col-12" style="margin-top: 17px;">
                <a href="https://x-pass.app" class="btn btn-primary"
                    style="background: #23A6D5; border: none; width: 100%;">
                    Ir para página principal
                </a>
            </div>
        </div>
    </div>
</body>

</html>